<script>
    document.getElementById('produtos').addEventListener('click', function() {
        // Redireciona o usuário para a rota desejada
        window.location.href = '/produtos';
    });
    document.getElementById('home').addEventListener('click', function() {
        // Redireciona o usuário para a rota desejada
        window.location.href = '/';
    });
    
    document.getElementById('site').addEventListener('click', function() {
        // Redireciona o usuário para a rota desejada
        window.location.href = 'adm';
    });
    document.getElementById('pedido').addEventListener('click', function() {
        // Redireciona o usuário para a rota desejada
        window.location.href = 'adm-pedido';
    });

   

   


</script>